<div class="op-card" data-index='<%= card_index %>' data-user-opcao='<%= user_opcao.id %>'>
  <div class="op-card-body">
    <% if @user == current_user %>
      <%= link_to "+", user_opcao_path(user_opcao), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
    <% end %>
    <%= image_tag "https://images.unsplash.com/photo-1552515941-29d256554e11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" %>
    <%= link_to opcao_path(user_opcao.opcao) do %>
      <div class="text-area">
        <h2 class="college"><%= user_opcao.opcao.curso.name %></h2>
        <h6><%= user_opcao.opcao.faculdade.name %></h6>
      </div>
    <% end %>
  </div>
</div>
