  <div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6)), url('https://images.unsplash.com/photo-1501503069356-3c6b82a17d89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
        <div class="profile-container">
          <%= image_tag "https://images.unsplash.com/photo-1529008338-310c24f458ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80", class: "avatar", style: 'height:150px ;width:150px;object-fit:cover' %>
          <h3 class="title">Ryan Scheinder</h3>
          <p class="category">Photographer</p>
          <div class="button-container">
            <a href="#button" class="btn btn-round" rel="tooltip" title="Follow me on Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#button" class="btn btn-round" rel="tooltip" title="Follow me on Instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#button" class="btn btn-round" rel="tooltip" title="Follow me on Instagram">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section my-5">
      <div class="profile-container">
        <h3 class="title">Sobre mim</h3>
        <p class="description px-5">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
        <h4 class="title text-center">Meus Cursos</h4>
        <div class="container">
        <% if @user.user_opcaos.size > 3 %>
          <div class="opcaos">
            <%= @user.user_opcaos.each do |user_opcao| %>
              <div class="op-card">
                <div class="op-card-body">
                  <%= link_to "+", user_opcao_path(user_opcao), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
                  <%= image_tag "https://images.unsplash.com/photo-1552515941-29d256554e11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" %>
                  <%= link_to opcao_path(user_opcao.opcao) do %>
                    <div class="text-area">
                      <h2 class="college"><%= user_opcao.opcao.curso.name %></h2>
                      <h6><%= user_opcao.opcao.faculdade.name %></h6>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% elsif @user.user_opcaos.size > 0 %>
          <div class="opcs">
            <% @user.user_opcaos.each do |user_opcao| %>
              <div class="op-card">
                <div class="op-card-body">
                  <%= link_to "+", user_opcao_path(user_opcao), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
                  <%= image_tag "https://images.unsplash.com/photo-1552515941-29d256554e11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" %>
                  <%= link_to opcao_path(user_opcao.opcao) do %>
                    <div class="text-area">
                      <h2 class="college"><%= user_opcao.opcao.curso.name %></h2>
                      <h6><%= user_opcao.opcao.faculdade.name %></h6>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="no-choice">
            <h4>Você ainda não escolheu nenhum curso.</h4>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
