<div class="filter margin-top">
  <div class="test">
  <%= form_tag cursos_path, method: :get do %>

    <%= text_field_tag :curso,
      params[:curso],
      class: "form-control",
      id: "query",
      placeholder: "Busca um curso"%>

    <%= button_tag type: 'submit', class: "button" do %>
      <i class=" fa fa-search" aria-hidden="true"><span class="my-0"> Buscar </span></i>
    <% end %>
  <% end %>
  <%= link_to "Ver todas", cursos_path, class: "curso-decoration bold" %>
  </div>
</div>

<div class="grids">

<% @cursos.each do |c| %>
  <div class="card-curso">
  <img src="https://picsum.photos/id/237/500/200" />
    <div class="card-curso-infos">
      <div>
        <h2><%= link_to c.name, curso_path(c), class: "decoration curso-decoration" %></h2>
      </div>
    </div>
  </div>
<% end %>
</div>

<div>

<article class="card">
  <div class="thumb"></div>
  <div class="infos">
    <h2 class="title">new york city<span class="flag"></span></h2>
    <h3 class="date">november 2 - 4</h3>
    <h3 class="seats">seats remaining: 2</h3>
    <p class="txt">
      Join us for our Live Infinity Session in
      beautiful New York City. This is a 3 day
      intensive workshop where you'll learn
      how to become a better version of...
    </p>
    <h3 class="details">event details</h3>
  </div>
</article>

<div class='pagination-section'>
  <%= paginate @cursos %>
</div>
