<div class="filter margin-top">
  <div class="test">
  <%= form_tag cursos_path, method: :get do %>

    <%= text_field_tag :curso,
      params[:curso],
      class: "form-control",
      id: "query",
      placeholder: "Busca um curso"%>

    <%= button_tag type: 'submit', class: "button" do %>
      <i class=" fa fa-search" aria-hidden="true"><span class="my-0"> Buscar </span></i>
    <% end %>
  <% end %>
  <%= link_to "Ver todas", cursos_path, class: "curso-decoration bold" %>
  </div>
</div>

<div class="grids">

<% @cursos.each do |c| %>
  <div class="card-opcao">
  <img src="https://picsum.photos/id/237/500/200" />
    <div class="card-opcao-infos">
      <div>
        <h2><%= link_to c.name, curso_path(c), class: "decoration curso-decoration" %></h2>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class='pagination-section'>
  <%= paginate @cursos %>
</div>
