<div class="search">
  <%= form_tag cursos_path, method: :get do %>

    <%= text_field_tag :curso,
    params[:curso],
    class: "form-control query" ,
    placeholder: "Busca uma faculdade"%>

    <%= button_tag type: 'submit', class: "button-opc" do %>
      <span class="my-0"> Buscar </span></i>
    <% end %>
    <%= link_to "Ver todas", cursos_path, class: "button-ocp" %>
  <% end %>
</div>

<div class="container py-5">
  <div class="grids">
    <% @cursos.each do |curso| %>
      <div class="fac-card" data-aos="zoom-in">
        <%= image_tag "https://images.unsplash.com/photo-1517423568366-8b83523034fd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80" %>
        <%= link_to curso_path(curso), class: "curso" do %>
        <div class="text-area">
          <h2 class="college"><%= curso.ocde_geral %></h2>
          <h6><%= curso.name  %></h6>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @cursos, class: "paginate" %>
</div>
