
<% image = image_path('facul.jpg') %>
<section class="hero image-as-background" style="background-image: url('<%= image %>');">

  <div class="hero-container">
    <h1 class="hero-title animate fadeInLeft delay-600"><%= @curso.name.capitalize %></h1>
  </div>

</section>


<section class="main-content">

  <div class="text">
  <h2>Saiba mais sobre esse curso</h2>
  <p>Busque por mais informações sobre esse curso em nosso fórum sobre <%= @curso.name.capitalize %>. Discuta com outras pessoas suas dúvidas, medos, felicidades e descubra mais sobre a carreira de sua escolha.</p>
  <p>Não esqueça de procurar pelas melhores faculdades no ranking ao lado e não perder nenhuma informação enquanto se prepara para o tão esperado vestibular</p>
  <p>O ranking ao lado utiliza como base o Ranking da Folha(RUF) para classificar as faculdades do Brasil. As notas são definidas com base em dados nacionais e internacionais e em duas pesquisas de opinião do Datafolha em cinco aspectos (pesquisa, ensino, mercado, internacionalização e inovação)</p>
  </div>

  <div class="container-index">

    <div class="table">

      <div class="table-header">
        <div class="header__item"><p>Faculdades</p></div>
        <div class="header__item"><p>Posição</p></div>
        <div class="header__item"><p>Notas</p></div>
        <div class="header__item"><p>Situação</p></div>
      </div>

      <% @curso.faculdades.order(:ranking).first(5).each do |f| %>

      <div class="table-content">

        <div class="table-row">

          <div class="table-data"><%= link_to f.sigla == "-" ? f.name : f.sigla, opcao_path(Opcao.where(curso_id: @curso, faculdade_id: f).first) %></div>
          <div class="table-data"><%= f.ranking %>º</div>
          <div class="table-data"><%= f.nota %></div>
          <div class="table-data">Ativa</div>
        </div>

      <% end %>
      </div>

        <%= form_tag opcaos_path, method: :get do %>
          <%= text_field_tag :opçao,
          @redirect,
          class: "form-control query d-none"%>

          <%= button_tag type: 'submit', class: "btn orange-btn w-100" do %>
            <span class="my-0"> Ver mais </span></i>
          <% end %>
        <% end %>
    </div>
  </div>
</section>

<% if user_signed_in? %>
  <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    </div>
      <%= render 'messages/chat' %>
  </div>
  <div id="btn-place">
  <% if current_user.user_chats.where(chat: @curso.chat).present? %>
    <button type="button" class="chat-open" data-toggle="modal" data-target="#chatModal">
      <i class="far fa-comments"></i>
    </button>
  <% else %>
    <%= link_to user_chats_path(chat: @curso.chat), method: :post, remote: :true, class: "chat-open" do %>
      <i class="far fa-comments"></i>
    <% end %>
  <% end %>
  </div>
<% else %>
  <%= link_to user_session_path, class: "chat-open" do %>
    <i class="far fa-comments"></i>
  <% end %>
<% end %>


