<% image = image_path('curso.jpg') %>
<section class="hero image-as-background" style="background-image: url('<%= image %>');">

  <div class="hero-container">
    <h1 class="hero-title animate fadeInLeft delay-600"><%= @curso.name %></h1>
  </div>

</section>

<section class="main-content">

  <div class="text">
  <h2>Saiba mais sobre esse curso</h2>
  <p>Busque por mais informações sobre esse curso em nosso fórum sobre <%= @curso.name.capitalize %>. Discuta com outras pessoas suas dúvidas, medos, felicidades e descubra mais sobre a carreira de sua escolha.</p>
  <p>Não esqueça de procurar pelas melhores faculdades no ranking ao lado e não perder nenhuma informação enquanto se prepara para o tão esperado vestibular</p>
  <p></p>
  </div>

  <div class="container-index">

    <div class="table">

      <div class="table-header">
        <div class="header__item"><p>Faculdades</p></div>
        <div class="header__item"><p>Posição</p></div>
        <div class="header__item"><p>Notas</p></div>
        <div class="header__item"><p>Situação</p></div>
      </div>

      <% @curso.faculdades.order(:ranking).first(5).each do |f| %>

      <div class="table-content">

        <div class="table-row">

          <div class="table-data"><%= link_to f.sigla == "-" ? f.name : f.sigla, opcao_path(Opcao.where(curso_id: @curso, faculdade_id: f).first) %></div>
          <div class="table-data"><%= f.ranking %>º</div>
          <div class="table-data"><%= f.nota %></div>
          <div class="table-data">Ativa</div>
        </div>

      <% end %>
      </div>

        <%= form_tag opcaos_path, method: :get do %>
          <%= text_field_tag :opçao,
          @redirect,
          class: "form-control query d-none"%>

          <%= button_tag type: 'submit', class: "btn orange-btn w-100" do %>
            <span class="my-0"> Ver mais </span></i>
          <% end %>
        <% end %>
    </div>
  </div>
</section>

<%= link_to 'entrar no chat', user_chats_path(chat: @curso.chat), method: :post %>
<div class="chat">
  <h2 class="chat-title"><%= "#{@curso.name}" %></h2>
  <div id="messages">
    <% if @curso.chat.messages.present? %>
      <% @curso.chat.messages.each do |message| %>
        <% if message.user_chat.user == current_user %>
          <div class="message flex-end">
            <%= render 'messages/message',message: message %>
          </div>
        <% else %>
          <div class="message">
            <%= render 'messages/message',message: message %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="no-messages">Seja o primeiro a mandar uma mensagem nesse forum</p>
    <% end %>
  </div>
  <% if current_user.user_chats.where(chat: @curso.chat ).present?%>
    <div class="message-form">
    <%= form_tag user_chat_messages_path(current_user.user_chats.where(chat:  @curso.chat ).pluck(:id)), method: :post, remote: :true do %>

      <%= text_field_tag :content, params[:content],
      class: "form-control query",
      placeholder: "Escreva sua mensagem"%>

      <%= button_tag type: 'submit', class: "button-opc" do %>
        <span class="my-0"> Enviar </span></i>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
