<% image = image_path('curso.jpg') %>
<section class="hero image-as-background" style="background-image: url('<%= image %>');">

  <div class="hero-container">
    <h1 class="hero-title animate fadeInLeft delay-600"><%= @curso.name %></h1>
  </div>

</section>

<section class="main-content">

  <div class="text">
  <h2>Saiba mais sobre esse curso</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class="container-index">

    <div class="table">

      <div class="table-header">
        <div class="header__item"><p>Faculdades</p></div>
        <div class="header__item"><p>Notas</p></div>
        <div class="header__item"><p>Estado</p></div>
        <div class="header__item"><p>Situação</p></div>
      </div>

      <% @curso.faculdades.first(5).each do |f| %>

      <div class="table-content">

        <div class="table-row">

          <div class="table-data"><%= link_to f.sigla == "-" ? f.name : f.sigla, opcao_path(Opcao.where(curso_id: @curso, faculdade_id: f).first) %></div>
          <% if f.opcaos.find_by(curso_id: @curso).enade != 0 %>
          <div class="table-data"><%= f.opcaos.find_by(curso_id: @curso).enade %></div>
          <% elsif f.opcaos.find_by(curso_id: @curso).cc != 0 %>
          <div class="table-data"><%= f.opcaos.find_by(curso_id: @curso).cc %></div>
          <% else %>
          <div class="table-data">-</div>
          <% end %>
          <div class="table-data">SP</div>
          <div class="table-data">Ativa</div>
        </div>

      <% end %>
      </div>

        <%= form_tag opcaos_path, method: :get do %>
          <%= text_field_tag :opçao,
          @redirect,
          class: "form-control query d-none"%>

          <%= button_tag type: 'submit', class: "btn orange-btn w-100" do %>
            <span class="my-0"> Ver mais </span></i>
          <% end %>
        <% end %>
    </div>
  </div>
</section>
