  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active banner">
        <div class="carousel-caption d-none d-md-block">
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex cumque similique atque earum totam illo reiciendis dolore veniam, quibusdam consectetur suscipit amet magnam aliquam cum vero sint mollitia! Sint, ex.</p>
        </div>
      </div>
      <div class="carousel-item banner">
        <div class="carousel-caption d-none d-md-block">
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex cumque similique atque earum totam illo reiciendis dolore veniam, quibusdam consectetur suscipit amet magnam aliquam cum vero sint mollitia! Sint, ex.</p>
        </div>
      </div>
      <div class="carousel-item banner">
        <div class="carousel-caption d-none d-md-block">
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex cumque similique atque earum totam illo reiciendis dolore veniam, quibusdam consectetur suscipit amet magnam aliquam cum vero sint mollitia! Sint, ex.</p>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="about">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus corrupti, vero fugit hic officiis et optio sint nobis nesciunt porro numquam totam doloremque voluptas officia, maxime temporibus, non sunt.</p>
  </div>
  <hr>
  <div class="resume" data-aos="fade-right">
    <div class="img-container">
      <%= image_tag 'graduation.png' %>
    </div>
    <div class="text">
      <h2>Escolha seu curso</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptates.</p>
    </div>
  </div>
  <div class="resume reverse" data-aos="fade-left">
    <div class="img-container">
      <%= image_tag 'online-university.png' %>
    </div>
    <div class="text">
      <h2>Veja as melhores faculdades</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptates.</p>
    </div>
  </div>
  <div class="resume" data-aos="fade-right">
    <div class="img-container">
      <%= image_tag 'timetable.png' %>
    </div>
    <div class="text">
      <h2>Consulte o calendario de provas</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptates.</p>
    </div>
  </div>
</div>

  <div class="slider">
    <div class="slide"><%= image_tag 'usp.png' %></div>
    <div class="slide"><%= image_tag 'unesp.png' %></div>
    <div class="slide"><%= image_tag 'insper.png' %></div>
    <div class="slide"><%= image_tag 'unicamp.png' %></div>
    <div class="slide"><%= image_tag 'ibmec.png' %></div>
    <div class="slide"><%= image_tag 'ufrj.png' %></div>
  </div>

