  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div id="firt" class="carousel-item banner active" style="background-image: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6)), url('https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
        <div class="banner-container animated fadeInUp">
          <h2 class="cover-title animated fadeInUp">
            Descubra seu
          </h2>
          <strong class="cover-xl-text animated fadeInUp">Curso</strong>
          <p class="cover-date animated fadeInUp">
            saiba quais são os mais bem avaliados
          </p>
            </p>
            <%= link_to "Veja mais", opcaos_path, class: "button-ocp animated fadeInUp" %>
        </div>
      </div>
      <div class="carousel-item banner" style="background-image: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6)), url('https://images.unsplash.com/photo-1529070538774-1843cb3265df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
        <div class="banner-container animated fadeInUp">
            <h2 class="cover-title animated fadeInUp">
              Escolha a sua
            </h2>
            <strong class="cover-xl-text animated fadeInUp">Faculdade</strong>
            <p class="cover-date animated fadeInUp">
                veja as opniões de outros alunos
            </p>
            </p>
            <%= link_to "Veja mais", faculdades_path, class: "button-ocp animated fadeInUp" %>
        </div>
      </div>
      <div class="carousel-item banner" style="background-image: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png');">
        <div class="banner-container animated fadeInUp">
            <h2 class="cover-title animated fadeInUp">
              Conheça as novas
            </h2>
            <strong class="cover-xl-text fadeInUp animated fadeInUp">Carreiras</strong>
            <p class="cover-date animated fadeInUp">
                descubra um mundo novo
            </p>
            <%= link_to "Veja mais", cursos_path, class: "button-ocp animated fadeInUp" %>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="about">
    <h2>Sobre nós</h2>
    <p data-aos="fade-up">Nossa responsabilidade e maior objetivo é e sempre será fornecer informações confiavéis e com praticidade para todos os usuários, facilitando a vida das pessoas nesse momento tão importante que é o de vestibular.</p>
  </div>
  <hr>
  <%= link_to cursos_path, class: "none-dec" do %>
    <div class="resume" data-aos="fade-right">
      <div class="img-container">
        <%= image_tag 'graduation.png' %>
      </div>
      <div class="text">
        <h2>Escolha sua carreira</h2>
        <p>Descubra o curso perfeito para você.</p>
      </div>
    </div>
  <% end %>
  <%= link_to faculdades_path, class: "none-dec" do %>
  <div class="resume reverse" data-aos="fade-left">
    <div class="img-container">
      <%= image_tag 'online-university.png' %>
    </div>
    <div class="text">
      <h2>Veja as melhores faculdades</h2>
      <p>Encontre a faculdade de seus sonhos.</p>
    </div>
  </div>
  <% end %>
  <div class="resume" data-aos="fade-right">
    <div class="img-container">
      <%= image_tag 'timetable.png' %>
    </div>
    <div class="text">
      <h2>Consulte o calendário de provas</h2>
      <p>Não perca nenhuma data.</p>
    </div>
  </div>
<hr>
  <h2 class="home-title mt-5">Faculdades</h2>
</div>
<div class="slider">
  <div class="slide"><%= image_tag 'usp.png' %></div>
  <div class="slide"><%= image_tag 'unesp.png' %></div>
  <div class="slide"><%= image_tag 'insper.png' %></div>
  <div class="slide"><%= image_tag 'unicamp.png' %></div>
  <div class="slide"><%= image_tag 'ibmec.png' %></div>
  <div class="slide"><%= image_tag 'espm.png' %></div>
  <div class="slide"><%= image_tag 'mackenzie.png' %></div>
  <div class="slide"><%= image_tag 'ufmg.png' %></div>
</div>

