<div class="search">
  <%= form_tag faculdades_path, method: :get do %>

    <%= text_field_tag :faculdade,
    params[:faculdade],
    class: "form-control query" ,
    placeholder: "Busca uma faculdade"%>

    <%= button_tag type: 'submit', class: "button-opc" do %>
      <span class="my-0"> Buscar </span></i>
    <% end %>
    <%= link_to "Ver todas", faculdades_path, class: "button-ocp" %>
  <% end %>
</div>

<div class="container py-5">
  <div class="grids">
    <% @faculdades.sort.each do |faculdade| %>
        <div class="fac-card ranking-facu" data-aos="zoom-in">
          <%= image_tag "facul.jpg", height: 175, width: 265 %>
          <%= link_to faculdade_path(faculdade), class: "faculdade" do %>
          <div class="text-area facu-text">
            <h2 class="college"><%= faculdade.sigla %></h2>
            <h6><%= faculdade.name  %></h6>
            <h3 class="ranking-tag">Rank : <%= faculdade.ranking %>°</h3>
          </div>
          <% end %>
        </div>
    <% end %>
  </div>
  <%= paginate @faculdades, class: "paginate" %>
</div>
