
<div class="facu-container">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="facul-banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
        <h1><%= @faculdade.name %> (<%= @faculdade.sigla %>)</h1>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 3vh;">
    <div class="col-lg-4 col-md-4 col-sm-12">

      <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
        <label for="tab1" style="margin-left: 4vh;">
          <i class="fa fa-graduation-cap"></i><h2>Infos</h2>
        </label>
            <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
        <label for="tab2">
          <i class="fa fa-map"></i><h2>Mapa</h2>
        </label>
            <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
        <label for="tab3">
          <i class="fa fa-plus-circle"></i><h2>Mais</h2>
        </label>
        <div class="tab-panels">
          <section id="marzen" class="tab-panel">
            <h2>Infos</h2>
            <p><strong>História: </strong> <%= @faculdade.historia %></p>
            <p><strong>Geral: </strong> <%= @faculdade.geral %></p>
            <p><strong>Telefone da instituição: </strong> <%= @faculdade.phone %></p>
            <p><strong>Site: </strong> <%= @faculdade.site %></p>
            <p><strong>E-mail: </strong> <%= @faculdade.email %></p>
            <p><strong>Tipo de instituição: </strong><%= @faculdade.tipo %></p>
          </section>
          <section id="rauchbier" class="tab-panel">
            <h2>Localização</h2>
            <div
              id="map"
              style="width: 100%;
                  width: 50vh;
                  height: 50vh;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>

          </section>
          <section id="dunkles" class="tab-panel">
            <h2>A mais</h2>
            <p><strong>Relação de vagas: </strong>
             <%= @faculdade.relacao %></p>
            <p><strong>Enem: </strong>
             <%= @faculdade.enem %></p>
            <p><strong>Cotas: </strong>
             <%= @faculdade.cotas %></p>
            <p><strong>Prouni: </strong>
             <%= @faculdade.prouni %></p>
            <p><strong>FIES: </strong>
             <%= @faculdade.fies %></p>
          </section>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="facu-box">

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="title-area">
                        <h2><%= @faculdade.sigla %></h2>
                        <p class="description"><%= @faculdade.intro %></p>
                    </div>
                </div>
                <div class="row-container">
                    <div class="col-lg-4">
                        <div class="info-icon">
                            <i class="fa fa-magic"></i>
                            <h3>Ideia</h3>
                            <p class="description"><%= @faculdade.ideia %></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info-icon">
                            <i class="fa fa-fire"></i>
                            <h3 style="margin-left: 3vh">Melhores cursos</h3>
                            <ul class="description-facu">
                                <% @faculdade.cursos.first(8).each do |curso| %>
                                  <%= link_to(curso) do %>
                                    <li><%= curso.name %></li>
                                  <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <% if  @faculdade.reviews.count < 4 %>
        <div class="container comments"  id="comment-container">
          <div class="comment-submit">
            <label>
              <h2>Deixe sua experiência:</h2>
              <%= render 'reviews/form', faculdade: @faculdade, review: @review %>
            </label>
          </div>
          <div id="reviews">
            <!-- printa os 4 primeiros -->

              <% @faculdade.reviews.each do |review| %>
                  <p><%= render 'reviews/show', review: review %></p>
              <% end %>
          </div>
           <% else %>
           <div class="container comments"  id="comment-container">
          <div class="comment-submit">
            <label>
              <h2>Deixe sua experiência:</h2>
              <%= render 'reviews/form', faculdade: @faculdade, review: @review %>
            </label>
          </div>
          <div id="reviews">
              <% @faculdade.reviews.last(4).reverse.each do |review| %>
                  <p><%= render 'reviews/show', review: review %></p>
              <% end %>
            </div>
              <details>
              <!-- printa os 4 ultimos -->
                <% @faculdade.reviews.first((@faculdade.reviews.count)-4).each do |review| %>
                  <p><%= render 'reviews/show', review: review %></p>
                <% end %>
                <summary>Ler Tudo</summary>
              </details>

            <% end %>


        </div>

      </div>

    </div>

  </div>

</div>
