<div class="filter my-5">
  <div class="test">
  <%= form_tag opcaos_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    id: "query",
    placeholder: "Busca uma matéria"%>
  <%= submit_tag "Search", class: "button fa fa-search" %>
  <% end %>
  </div>
</div>

<div class="grids">

<% @opcaos.each do |o| %>
  <div class="card-opcao">
  <img src="https://picsum.photos/id/237/500/200" />
    <div class="card-opcao-infos">
      <div>
        <h2><%= link_to o.curso.name, opcao_path(o), class: "decoration curso-decoration" %></h2>
        <% if o.faculdade.sigla == "-" %>
          <h5><%= o.faculdade.name %></h5>
        <% else %>
          <h5><%= o.faculdade.sigla %></h5>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class='pagination-section'>
  <%= paginate @opcaos %>
</div>
