<div class="search">
  <%= form_tag opcaos_path, method: :get do %>

    <%= text_field_tag :opçao,
      params[:opçao],
      class: "form-control query",
      placeholder: "Busca uma matéria"%>

    <%= text_field_tag :facu,
    params[:facu],
    class: "form-control query" ,
    placeholder: "Busca uma faculdade"%>

    <%= button_tag type: 'submit', class: "button-opc" do %>
      <span class="my-0"> Buscar </span></i>
    <% end %>
    <%= link_to "Ver todas", opcaos_path, class: "button-ocp" %>
  <% end %>
</div>


<div class="container py-5">
  <div class="grids">
    <% @opcaos.order('random()').each do |opcao| %>
      <div class="fac-card" data-aos="zoom-in">
        <% if user_signed_in? %>
           <%= link_to user_opcaos_path(opcao: opcao), method: :post, remote: true, class: "card-add-link", alt: "seguir curso" do %>
            <i class="fas fa-heart"></i>
           <% end %>
        <% end %>
        <% if opcao.faculdade.photo.nil? %>
        <%= image_tag "Educacao.jpg", height: 175, width: 265 %>
        <% else %>
        <img src="<%= opcao.faculdade.photo %>" style="height: 175, width: 265"alt="">
        <% end %>
        <%= link_to opcao_path(opcao), class: "faculdade" do %>
        <div class="text-area">
          <h2 class="college"><%= opcao.curso.name  %></h2>
          <h6><%= opcao.faculdade.name %></h6>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @opcaos, class: "paginate" %>
</div>
