<% image = image_path('graduation.png') %>
<div class="app" style="background-image: url('<%= image %>');">
  <main>
    <h1><%= @opcao.curso.name %> EM <%= @opcao.faculdade.name %></h1>
  </main>
</div>
<% notas = image_path('notas.jpg') %>
<ul class="cards">
  <li class="cards__item">
    <div class="cardin">
      <div class="cardin__image" style="background-image: url('<%= notas %>');"></div>
      <div class="cardin__content">
        <div class="cardin__title">As notas:</div>
        <% if @opcao.cc == 0 %>
          <p class="cardin__text">Conceito de Curso (CC): SEM NOTA </p>
        <% else %>
          <p class="cardin__text">Conceito de Curso (CC):
          <% @opcao.cc.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @opcao.cc).times do %>
            <i class="far fa-star"></i>
          <% end %>
          </p>
        <% end %>
        <% if @opcao.enade == 0 %>
          <p class="cardin__text">ENADE(MEC): SEM NOTA </p>
        <% else %>
          <p class="cardin__text">ENADE(MEC):
          <% @opcao.enade.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @opcao.enade).times do %>
            <i class="far fa-star"></i>
          <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </li>
  <% datas = image_path('datas.png') %>
  <li class="cards__item">
    <div class="cardin">
      <div class="cardin__image" style="background-image: url('<%= datas %>');"></div>
      <div class="cardin__content">
        <div class="cardin__title">Datas Importantes:</div>
        <% if @opcao.data_inscricao.present? %>
        <p class="cardin__text">Data de inscrição: <%= @opcao.data_inscricao %>
        <% else %>
        <p class="cardin__text">Data de inscrição: 22/10/2019
        </p>
        <% end %>
        <% if @opcao.data_prova.present? %>
        <p class="cardin__text">Data de prova: <%= @opcao.data_inscricao %>
        <% else %>
        <p class="cardin__text">Data de prova: 22/11/2019
        </p>
        <% end %>
      </div>
    </div>
  </li>
  <% infos = image_path('infos.png') %>
  <li class="cards__item">
    <div class="cardin">
      <div class="cardin__image" style="background-image: url('<%= infos %>');"></div>
      <div class="cardin__content">
        <div class="cardin__title">Outras Informações:</div>
        <p class="cardin__text">Número de vagas: <%= @opcao.vagas %></p>
        <p class="cardin__text">Tipo do curso: <%= @opcao.grau %></p>
      </div>
    </div>
  </li>
</ul>
